@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

:root {
    --purple: #c64dff;
    --sPurple: #9929ea;
    --tPurple: #6802ff;
    --pink: #ff66cc;
    --b1: #333445;
    --b2: #262333;
    --b3: #17141d;
}

/*Constants:*/
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: var(--b3);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    margin: 0;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: var(--b2);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--purple);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--tPurple);
}

ul {
    padding: 0;
    min-width: 290px;
    max-width: 640px;
}

ul>li {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

main {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

header>nav>ul>li>a:hover, #welcome>.left>.contact>li>a>i:hover {
    color: var(--sPurple);
    transform: translateY(-2px);
    transition: all 200ms ease;
}

.main{
    max-width: 1025px;
    margin-left: auto;
    margin-right: auto;
}

.element{
    position: absolute;
    z-index: -1;
}

.menu-btn{
    display: none;
}

.background{
    background-color: var(--b2);
    margin: 75px 0px 75px 0px;
}

.circle {
    top: 0;
    right: 0;
    position: absolute;
    clip-path: circle(65% at 70% 35%);
    z-index: -1;
    width: 25rem;
    height: 25rem;
    background-color: var(--b2);
}

#to_top {
    z-index: 99;
    right: 100px;
    bottom: 50px;
    position: fixed;
    font-size: 45px;
    color: white;
    transform: translateY(-10px);
    transition: all 500ms ease;
}

#to_top:hover {
    color: var(--sPurple);
    transform: translateY(-20px);
    transition: all 500ms ease;
}

.title{
    font-family: 'PT Sans', sans-serif;
    max-width: 725px;
    font-size: 3.5rem;
    padding: 0px 0px 10px;
    line-height: 2.85rem;
    letter-spacing: 1px;
    margin: 0;
    background: linear-gradient(90deg, var(--pink) 0%, var(--tPurple) 100%);
    animation: textclip 5s ease infinite;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.subtitle{
    color: white;
    opacity: 50%;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
    z-index: 2;
}

.paragraph{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0 1rem 0;
}

.bubble{
    position: absolute;
    z-index: -1;
    border-radius: 100%;
}

/*Independents:*/

.language > * {
    width: 35px;
    cursor: pointer;
    transform: translateY(0px);
    transition: all 200ms ease;
}

.language:hover {
    transform: translateY(-3px);
    transition: all 200ms ease;
}

.left>div>button:hover, .tag>button:hover, #submit:hover {
    background-color: var(--pink);
    color: white;
    cursor: pointer;
}

#services>section, #projects>section, #faq{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px 25px 100px 25px;
    max-width: 1025px;
}

/*Animations:*/
@keyframes textclip {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    } 100% {
        transform: translateY(30px);
    }
}

/*Header*/
header {
    display: flex;
    justify-content: space-around;
    max-width: 1025px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    align-items: center;
}

header>nav>ul>li>a {
    color: white;
    font-family: "Karla", sans-serif;
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    transform: translateY(0px);
    transition: all 200ms ease;
}

header>img {
    width: 50px;
    height: 50px;
}

header>nav>ul>li, header>nav>ul {
    color: white;
    min-width: 450px;
    width: 600px;
    justify-content: space-evenly;
}

/*#Welcome*/
.left {
    max-width: 475px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
}


.left>h1 {
    font-family: "PT Sans", sans-serif;
    color: white;
    max-width: 425px;
    font-size: 4.375rem;
    line-height: 4rem;
    letter-spacing: 1px;
    margin: 0;
}

.left>h1>span {
    background: linear-gradient(90deg, var(--pink) 0%, var(--tPurple) 100%);
    animation: textclip 2.5s linear infinite;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.left>h2 {
    font-size: 1.25rem;
    max-width: 450px;
    font-family: "Karla", sans-serif;
    margin: 0;
    color: white;
    font-weight: 100;
    padding: 25px 0px;
}

.left>div {
    display: flex;
    align-items: center;
    font-size: 1rem;
    height: 50px;
    color: white;
    font-family: "Karla", sans-serif;
}
.left>div::after {
    content: "Not open to work";
    padding: 16.5px 25px 16.5px 35px;
    margin: 0px 0px 0px -25px;
    z-index: -1;
    height: auto;
    border-radius: 0% 50px 50px 0%;
    background-color: var(--b1);
}

.left>div>button {
    background-color: var(--b3);
    border-radius: 0% 50px 50px 0%;
    padding: 15px 30px 15px 25px;
    border-color: var(--pink);
    color: var(--pink);
    font-size: 1rem;
}

.contact {
    max-width: 300px;
    margin-top: 35px;
}

.contact>li {
    justify-content: space-between;
}

.contact>li>a>i {
    font-size: 2rem;
    color: white;
}

.right {
    max-width: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right>img {
    width: 100%;
}

/*#About:*/
#about{
    padding: 150px 0px 150px 0px;
    height: auto;
}

#rocket{
    font-size: 700px;
    color: var(--b2);
    left: -200px;
}

#about>article {
    color: white;
    margin: 10px;
}

#about>article>h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

#about>article>p {
    font-family: 'Karla', sans-serif;
    font-size: 1.35rem;
    color: white;
    text-align: start;
}

#letter>a {
    color: var(--pink);
    text-decoration: none;
}

#satellite{
    color: var(--b2);
    position: absolute;
    font-size: 320px;
    right: 0;
    bottom: 0;
}

/*Services:*/
#meteor{
    z-index: 1;
    color: var(--b3);
    position: absolute;
    font-size: 650px;
    left: 0;
    top: 0;
    transform: rotate(-100deg);
}

#services>section>article, #services>section h1{
    z-index: 2;
}

#services>section>article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#services>section>article>div{
    max-width: 450px;
    display: flex;
    align-items: baseline;
    margin-top: 50px;
    margin-right: 25px;
}

#services>section>article>div>article{
    display: flex;
    flex-direction: column;
}

#services>section>article>div>i{
    font-size: 1.5rem;
    color: var(--pink);
    margin-right: .5rem;
}

#services>section>article>div h1{
    color: var(--pink);
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 0 5px 0;
}

#desc{
    color: rgba(255, 255, 255, 0.3);
    font-family: 'Karla', sans-serif;
    text-align: center;
    margin-top: 55px;
}

#desc>span>a{
    color: var(--pink);
    opacity: 1;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
}

/*Friends:*/
#friends{
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 150px 0px;
}

#friends>article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    max-width: 290px;
    height: 20rem;
    padding: 10px;
    margin: 10px;
    background: rgba(51, 52, 69, .5);
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card>img{
    width: 95px;
    height: 95px;
    border: solid white 3.5px;
    border-radius: 50%;
}

.card h1{
    font-weight: 600;
    font-size: 1.35rem;
    font-family: 'Karla', sans-serif;
    margin: 5px 0px 0px 0px;
    background: linear-gradient(90deg, var(--purple) 0%, var(--tPurple) 100%);
    animation: textclip 2s linear infinite;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.card h2{
    color: rgba(255, 255, 255, 0.3);
    font-size: .85rem;
    font-weight: 100;
    font-family: 'Karla', sans-serif;
    margin: 0;
}

.card p{
    font-family: 'Karla';
    font-style: italic;
    padding: 0px 10px 0px 10px;
    font-size: .90rem;
    text-align: center;
    color: white;
}

.card>ul{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.65rem;
    margin: 5px;
}

.card>ul>li>a{
    color: rgba(255, 255, 255, 0.3);
    transition: all 200ms ease-in-out;
}

.card>ul>li>a:hover{
    color: white;
    transition: all 200ms ease-in-out;
}

/*Companies:*/
#companies{
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

#companies>article{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1px;
    row-gap: 1px;
    padding: 5px;
    margin: 50px 0px;
}

.company{
    background-color: var(--b2);
    padding: 25px 10px;
    display: flex;
    justify-content: center;
}

.company:hover{
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
}

.company>img{
    width: 100%;
    opacity: .25;
}

/*Projects*/
#projects{
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#projects>section>article{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 75px 0px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 100px;
}

.swiper-pagination-bullet{
    background-color:  rgba(255, 255, 255, 0.3);
}

.swiper-pagination-bullet-active{
    background-color: var(--sPurple);
}

.swiper-button, .swiper-button>i, #submit{
    color: rgba(255, 255, 255, 0.3);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 25px;
    transition: all 200ms ease-in-out;
}

.swiper-button>i:hover{
    color: var(--sPurple);
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pic img{
    width: 90%;
    border-radius: 10px;
}

.tag{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 50%;
    padding-right: 50px;
}

.tag>h1{
    font-size: 2.25rem;
    margin-bottom: 0;
    font-family: 'PT-Sans', sans-serif;
    color: var(--pink);
}

.tag>button, #submit{
    font-family: 'Karla', sans-serif;
    font-size: .95rem;
    width: 10rem;
    height: 50px;
    color: var(--pink);
    border: solid 2px var(--pink);
    border-radius: 0% 50px 50px 0%;
    background: transparent;
}

.tag>button>i{
    margin-left: 10px;
}

/*FAQ:*/
#faq>article{
    max-width: 850px;
    margin: 45px 0px;
}

.tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: white;
    overflow: hidden;
    font-family: 'PT-Sans', sans-serif;
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab label {
    font-size: 1.2rem;
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: var(--b2);
    line-height: 3;
    cursor: pointer;
}

.tab-content {
    font-family: 'Karla', sans-serif;
    max-height: 0;
    overflow: hidden;
    background: var(--b1);
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.tab-content p {
    font-size: 1.1rem;
    margin: 1.5rem;
}

.tab input:checked ~ .tab-content {
    max-height: 100vh;
}

.tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.tab input[type=checkbox] + label::after {
    content: "+";
}
.tab input[type=radio] + label::after {
    content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
}

/*Contact:*/
#contact{
    flex-direction: column;
    padding-top: 75px;
}

#contact>article{
    width: 100%;
    padding: 25px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#contact>article>form{
    display: flex;
    flex-direction: column;
    width: 45%;
    min-width: 300px;
    margin: 15px;
}

#name, #email, #subject, #text{
    color: white;
    font-family: 'Karla', sans-serif;
    background-color: var(--b2);
    border: none;
    padding: 15px;
    margin: 5px 0px;
    height: 2rem;
    resize: vertical;
    font-size: 1rem;
}

#text{
    min-height: 10rem;
}

#submit{
    width: 30%;
    height: 3rem;
    margin: 5px 0px;
}

#contact>article>img{
    width: 40%;
    margin: 0px 30px;
}

/*Footer:*/
footer{
    border: solid #262333 1px;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer article{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer *{
    text-decoration: none;
    margin: 0;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Pt-Sans', sans-serif;
    color: rgba(255, 255, 255, 0.3);
}

footer a:hover{
    color: rgba(255, 255, 255);
}

footer img{
    width: 40px;
}

/*Queries:*/
@media screen and (max-width: 770px) {
    section{
        overflow: hidden;
    }

    header{
        justify-content: space-between;
        padding: 15px 25px;
    }

    header>nav>ul>li {
        position: absolute;
        min-width: 200px;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        background: rgba(38, 35, 51, 0.35);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(13.5px);
        z-index: 1;
    }

    nav>ul{
        transition: all 0.3s ease;
    }

    nav{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
    }

    .open{
        display: block;
    }

    header>nav>ul>li>a{
        font-size: 2.5rem;
        text-transform: uppercase;
    }

    .title{
        font-size: 3rem;
    }

    #to_top {
        opacity: .25;
        right: 30px;
        bottom: 15px;
    }

    #to_top:hover {
        opacity: 1;
    }

    .language {
        display: block;
        font-size: 2rem;
    }

    .menu-btn{
        color: white;
        font-size: 2rem;
        display: block;
        z-index: 99;
        cursor: pointer;
    }

    #welcome{
        flex-wrap: wrap;
        justify-content: center;
        margin: 100px 0px 100px;
    }

    .left{
        margin-bottom: 100px;
    }

    .left h1{
        font-size: 3.5rem;
        line-height: 3rem;
    }

    .contact>li>a>i{
        font-size: 2.3rem;
    }

    .contact {
    margin-top: 50px;
}

    .right{
        margin: 100px 0px 100px 0px;
    }

    .right>img{
        width: 95%;
    }

    #about{
        padding-top: 0px;
    }

    #rocket{
        font-size: 600px;
    }

    #satellite{
        font-size: 225px;
    }

    #companies>article{
        grid-template-columns: repeat(3, 1fr);
        padding: 5px;
    }

    #companies>article :last-child{
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .swiper-slide{
        flex-direction: column;
    }

    .pic{
        width: 100%;
    }

    .tag {
        width: 90%;
        padding-right: 0px;
    }

    .tab label {
        font-size: 17px;
    }

    #contact>article>form{
        margin: 5px;
        width: 95%;
    }

    #contact>article>img{
        width: 50%;
    }
}

@media screen and (max-width: 376px) {
    #welcome{
        margin: 0;
    }

    section{
        overflow: hidden;
    }

    .title{
        font-size: 2rem;
        line-height: 2.25rem;
        padding: 0;
    }

    #welcome>.right{
        margin: 50px 0px 50px 0px;
    }

    #about>#rocket{
        font-size: 450px;
        transform: translateX(25px);
    }

    #about>#satellite{
        font-size: 275px;
    }

    #services>section>#meteor{
        left: -75px;
    }

    #services>section>#meteor>i{
        font-size: 300px;
    }

    #services>section>article>div{
        flex-direction: column;
    }

        #friends>article>.card{
        max-width: 275px;
    }
        #companies>article{
        grid-template-columns: 1fr 1fr;
    }

        #companies>article :last-child{
        grid-column-start: 2;
        grid-column-end: 2;
    }

        #companies>article :last-child>img{
        width: 95%;
    }

    .swiper-button{
        display: none;
    }

    .tab label {
        font-size: 14px;
    }

    .tab-content p {
    font-size: .75rem;
}
}