@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

:root {
    --purple: #c64dff;
    --sPurple: #9929ea;
    --tPurple: #6802ff;
    --pink: #ff66cc;
    --b1: #333445;
    --b2: #262333;
    --b3: #17141d;
}

/*Constants:*/
html {
    background-color: var(--b3);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: var(--b2);
}

body::-webkit-scrollbar {
    width: 12px;
    height: 0px;
    background-color: var(--b2);
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--purple);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--tPurple);
}

ul {
    padding: 0;
    width: 40rem;
}

ul>li {
    display: flex;
    list-style-type: none;
}

main {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: flex;
    align-content: center;
    position: relative;
}

header>nav>ul>li>a:hover, #welcome>.left>.contact>li>a>i:hover {
    color: var(--sPurple);
    transform: translateY(-2px);
    transition: all 200ms ease;
}

.main{
    max-width: 1025px;
    margin-left: auto;
    margin-right: auto;
}

.element{
    position: absolute;
    z-index: -1;
}

.background{
    background-color: var(--b2);
}

.circle {
    top: 0;
    right: 0;
    position: absolute;
    clip-path: circle(65% at 70% 35%);
    z-index: -1;
    width: 25rem;
    height: 25rem;
    background-color: var(--b2);
}

#to_top {
    z-index: 99;
    right: 50px;
    bottom: 50px;
    position: fixed;
    font-size: 45px;
    color: white;
    transform: translateY(-10px);
    transition: all 500ms ease;
}

#to_top:hover {
    color: var(--sPurple);
    transform: translateY(-20px);
    transition: all 500ms ease;
}

.title{
    font-family: 'PT Sans', sans-serif;
    max-width: 725px;
    font-size: 3.5rem;
    padding: 0px 0px 10px;
    line-height: 2.85rem;
    letter-spacing: 1px;
    margin: 0;
    background: linear-gradient(90deg, var(--pink) 0%, var(--tPurple) 100%);
    animation: textclip 5s ease infinite;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.subtitle{
    color: white;
    opacity: 50%;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;   
}

/*Header*/
header {
    display: flex;
    justify-content: space-around;
    max-width: 1025px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    align-items: center;
}

header>nav>ul>li>a {
    color: white;
    font-family: "Karla", sans-serif;
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    transform: translateY(0px);
    transition: all 200ms ease;
}

header>img {
    width: 50px;
    height: 50px;
}

header>nav>ul>li, header>nav>ul {
    color: white;
    min-width: 450px;
    width: 600px;
    justify-content: space-evenly;
}

/*Independents:*/
.checkbox, .hamburguer {
    display: none;
}

.globe, .hamburguer {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transform: translateY(0px);
    transition: all 200ms ease;
}

.globe:hover {
    color: var(--purple);
    transform: translateY(-3px);
    transition: all 200ms ease;
}

.checkbox:checked + .hamburguer>i{
    color: var(--purple);
}

/*#Welcome*/
#welcome>.left {
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
}

#welcome>.left>h1 {
    font-family: "PT Sans", sans-serif;
    color: white;
    max-width: 425px;
    font-size: 4.375rem;
    line-height: 4rem;
    letter-spacing: 1px;
    margin: 0;
}

@keyframes textclip {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#welcome>.left>h1>span {
    background: linear-gradient(90deg, var(--pink) 0%, var(--tPurple) 100%);
    animation: textclip 2.5s linear infinite;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#welcome>.left>h2 {
    font-size: 1.25rem;
    max-width: 450px;
    font-family: "Karla", sans-serif;
    margin: 0;
    color: white;
    font-weight: 100;
    padding: 25px 0px;
}

#welcome>.left>div {
    display: flex;
    align-items: center;
    font-size: 1rem;
    height: 50px;
    color: white;
    font-family: "Karla", sans-serif;
}
#welcome>.left>div::after {
    content: "Fechado a trabalho";
    padding: 15px 25px 15px 35px;
    margin: 0px 0px 0px -25px;
    z-index: -1;
    height: auto;
    border-radius: 0% 50px 50px 0%;
    background-color: var(--b1);
}

#welcome>.left>div>button {
    cursor: pointer;
    background-color: var(--b3);
    border-radius: 0% 50px 50px 0%;
    padding: 15px 30px 15px 25px;
    border-color: var(--pink);
    color: var(--pink);
    font-size: 1rem;
}

#welcome>.left>div>button:hover {
    background-color: var(--pink);
    color: white;
}

#welcome>.left>.contact {
    max-width: 300px;
    margin-top: 35px;
}

#welcome>.left>.contact>li {
    justify-content: space-between;
}

#welcome>.left>.contact>li>a>i {
    font-size: 2rem;
    color: white;
}

#welcome>.right {
    max-width: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome>.right>img {
    width: 100%;
}

/*#About:*/
#about{
    padding: 200px 0px 200px 0px;
    height: auto;
}

#about>#rocket{
    font-size: 600px;
    color: var(--b2);
    left: -200px;
}

#about>article {
    color: white;
    margin: 10px;
}

#about>article>h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

#about>article>p {
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align: start;
}

#about>article>p>#letter>a {
    color: var(--pink);
    text-decoration: none;
}

#about>#satellite{
    color: var(--b2);
    position: absolute;
    font-size: 320px;
    right: 0;
    bottom: 0;
}

/*#Services:*/
#services{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 75px 25px 75px 25px;
    max-width: 1025px;
}

#services>article, #services h1{
    z-index: 1;
}

#services>article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#services>article>div{
    max-width: 450px;
    display: flex;
    align-items: baseline;
    margin-top: 50px;
    margin-right: 25px;
}

#services>article>div>article{
    display: flex;
    flex-direction: column;
}

#services>article>div>i{
    font-size: 1.5rem;
    color: var(--pink);
    margin-right: .5rem;
}

#services>article>div h1{
    color: var(--pink);
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 0 5px 0;
}

#services>article>div p{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0 2rem 0;
}

#services>article>#desc{
    color: white;
    opacity: 0.25;
    font-family: 'Karla', sans-serif;
    text-align: center;
    margin-top: 55px;
}

/*Queries:*/
@media screen and (max-width: 770px) {
    header{
        justify-content: space-between;
        padding: 15px;
    }

    .title{
        font-size: 3rem;
        padding: 0.4rem;
    }

    nav, #to_top {
        display: none;
    }

    .hamburguer,.globe {
        display: block;
        font-size: 2rem;
    }

    #welcome{
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 75px;
    }

    #welcome>.left h1{
        font-size: 3.5rem;
        line-height: 3rem;
    }

    #welcome>.left>.contact>li>a>i{
        font-size: 2.3rem;
    }

    #welcome>.right{
        margin-top: 75px;
    }

    #welcome>.right>img{
        width: 95%;
    }
}

@media screen and (max-width: 400px) {
    .title{
        font-size: 2.25rem;
        line-height: 2rem;
    }

    #about>#rocket{
        font-size: 450px;
        transform: translateX(25px);
    }

    #about>#satellite{
        font-size: 275px;
    }
}
